body {
	overflow-y: hidden;
}

.game {
	--button-padding: 0.75em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 10vh;
}

#chessboard {
	--square-size: 4em;
	position: relative;
	display: grid;
	grid-template-columns: repeat(8, var(--square-size));
	grid-template-rows: repeat(8, var(--square-size));
}

.square {
	--square-transition: 250ms;
	width: var(--square-size);
	height: var(--square-size);
	transition: var(--square-transition);
}

.white {
	background-color: antiquewhite;
}

.black {
	background-color: #95533b;
}

.square:hover {
	filter: brightness(0.4);
	border-width: 0.16em;
	border-radius: 0.11em;
}

.piece {
	pointer-events: none;
	position: absolute;
	z-index: 10;
	justify-content: center;
	text-align: center;
}
.piece img {
	width: var(--square-size);
	height: var(--square-size);
}

button {
	outline: none;
	background: none;
	padding: 0;
	border: none;
	position: relative;
}

#resetChessboardButton {
	margin-right: 2em;
}

.topLayer {
	width: 100%;
	height: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: var(--button-padding);
	padding-left: var(--button-padding);

	background-color: rgb(255, 255, 238);
	font-family: monospace;
	font-size: 1em;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 7mm;
	outline: 2px solid rgb(36, 38, 34);

	transition: 0.2s;
}

.bottomLayer {
	width: 100%;
	height: 100%;
	padding-right: var(--button-padding);
	padding-left: var(--button-padding);
	padding-top: 1em;
	padding-bottom: 2.15em;

	background-color: rgb(229, 229, 199);
	font-family: monospace;
	font-size: 1em;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	top: -2.7em;
	z-index: -1;

	border-radius: 7mm;
	outline: 2px solid rgb(36, 38, 34);

	box-shadow: 0px 0.15em 0px 0.2em rgb(171, 171, 171);

}

button:active .topLayer {
	transform: translateY(0.45em);
}
