body {
	overflow-y: hidden;
}

.game {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 10vh;
}

#chessboard {
	--square-size: 4em;
	position: relative;
	display: grid;
	grid-template-columns: repeat(8, var(--square-size));
	grid-template-rows: repeat(8, var(--square-size));
}

.square {
	--square-transition: 250ms;
	width: var(--square-size);
	height: var(--square-size);
	transition: var(--square-transition);
}

.white {
	background-color: antiquewhite;
}

.black {
	background-color: #95533b;
}

.square:hover {
	filter: brightness(0.4);
	border-width: 0.16em;
	border-radius: 0.11em;
}

.piece {
	pointer-events: none;
	position: absolute;
	z-index: 10;
	justify-content: center;
	text-align: center;
}
.piece img {
	width: var(--square-size);
	height: var(--square-size);
}

.pawn {
	background-color: transparent;
	text-align: none;
	border: none;
}
