.dropdown {
	font-family: monospace;
	width: 15em;
	height: 100%;
	position: relative;
	margin: 2em;

	display: flex;
	flex-direction: column;
	border-radius: 2.5mm;
}
.dropdown h2 {
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown * {
	box-sizing: border-box;;
}
.select {
	background-color: var(--white-square);
	display: flex;
	margin-right: .5em;
	margin-left: .5em;

	justify-content: space-between;
	align-items: center;
	border: 2px solid;
	border-radius: 2.5mm;
	padding: 1em;
	cursor: pointer;
	transition: 0.3s;
}
.select:hover {
	/*background: #335c81;*/
	filter: brightness(0.7);
}
.options span {
	width: calc(100% - 0.45em);
	padding: 0.7em;
	transition: 0.2s;
	border-radius: 2mm;
}
.options span:first-child {
	margin-top: 0.5em;
}
.options span:last-child {
	margin-bottom: 0.5em;
}
.options span:hover {
	background-color: #95533b;
	color: white;
}
.caret {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid black;
	transition: 0.3s;
}
.caret-rotate {
	transform: rotate(180deg);
}
.select-clicked {
	border: 2px solid black;
	box-shadow: 0 0 0.3em black;
}
.options {
	top: 100%;
	list-style: none;
	position: absolute;
	transition: 0.2s;
	z-index: 1;
	display: none;
}
.options-open {
	display: flex;
	box-shadow: 0 0 0.15em black;
}
.options li:hover {
background-color: #95533b;
transition: 0.3s;
width: 100%;
}

.dropdown ul {
	flex-direction: column;
	align-items: flex-start;
	padding-left: 0.5em;
	color: black;
	border-radius: 2.5mm;
	border: 2px solid black;
	background-color: var(--white-square);
	margin-left: .5em;
	width: calc(100% - 1em);
}

/* Color palattes */
.freshwater {
	--black-square: #7e998a;
	--white-square: antiquewhite; }
.gotham {
	--black-square: #445552;
	--white-square: antiquewhite; }
.yaleBlue {
	--black-square: #274060;
	--white-square: antiquewhite; }
.bile {
	--black-square: #335c81;
	--white-square: antiquewhite; }
.default {
	--black-square: #95533b;
	--white-square: antiquewhite; }
:root {
	--black-square: #95533b;
	--white-square: antiquewhite; 
}

.game {
	--square-size: 4em;
	--button-padding: 0.75em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
}

#chessboard {
	position: relative;
	display: grid;
	grid-template-columns: repeat(8, var(--square-size));
	grid-template-rows: repeat(8, var(--square-size));
}

.square {
	--square-transition: 250ms;
	width: var(--square-size);
	height: var(--square-size);
	transition: var(--square-transition);
}

.white {
	background-color: var(--white-square);
}

.black {
	background-color: var(--black-square);
}

.square:hover {
	filter: brightness(0.7);
	border-width: 0.16em;
	border-radius: 0.11em;
}

.piece {
	pointer-events: none;
	position: absolute;
	z-index: 10;
	justify-content: center;
	text-align: center;
}
.piece img {
	width: var(--square-size);
	height: var(--square-size);
}

button {
	outline: none;
	background: none;
	padding: 0;
	border: none;
	position: relative;
}

#resetChessboardButton {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.topLayer {
	width: 100%;
	height: 100%;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-right: var(--button-padding);
	padding-left: var(--button-padding);

	background-color: rgb(255, 255, 238);
	font-family: monospace;
	font-size: 1em;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 7mm;
	outline: 2px solid rgb(36, 38, 34);

	transition: 0.2s;
}

.bottomLayer {
	width: 100%;
	height: 100%;
	padding-right: var(--button-padding);
	padding-left: var(--button-padding);
	padding-top: 0.75em;
	padding-bottom: 2em;

	background-color: rgb(229, 229, 199);
	font-family: monospace;

	position: relative;
	top: -2.25em;
	z-index: -1;

	border-radius: 7mm;
	outline: 2px solid rgb(36, 38, 34);

	box-shadow: 0px 0.15em 0px 0.2em rgb(171, 171, 171);
}

button:active .topLayer {
	transform: translateY(0.45em);
}
.top-ui {
	width: calc(8 * var(--square-size));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.5em;
}
.turn-decider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: monospace;
	
	border: 2px solid black;
	border-radius: 2.5mm;
	padding: 0.4em 0.4em;
}
#turnDecider {
	padding-right: 0.5em;
}
#turnDeciderColorIndicator {
	margin-right: 1em;
	padding: .8em;
	border-radius: 1.5mm;
}
.turn-white {
	background-color: white;
	border: 2px solid black;
}
.turn-black {
	background-color: black;
	border: 2px solid white;
	outline: 2px solid black;
}

#turn-counter {
	display: flex;
	align-items: center;
	font-family: monospace;
	
	border: 2px solid black;
	border-radius: 2.5mm;
	padding: 0.4em 0.4em;
	padding-right: 0.8em;
}